<!DOCTYPE html>
<html lang="en-US">
<!-- Included foundation css for responsive page-->
<link href="lib/css/foundation.css" rel="stylesheet">

<!-- Included page specific css-->
<link href="css/search.css" rel="stylesheet">

<!-- Included Angular js library-->
<script src="lib/js/angular.js"></script>
<body>
<!-- Angular js app starts here -->
<div ng-app="app" ng-controller="searchController" class="searchApp">
    <div class="row">
        <div class="large-4 medium-6 small-12 columns">
            <h3>People Search</h3>
        </div>
    </div>
    <div class="row">
        <div class="large-4 medium-6 small-12 columns">
            <input type="text" ng-model="searchString" placeholder="Enter your search term">
        </div>
    </div>
    <div class="row">
        <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6">
            <li ng-repeat="user in users | searchUser:searchString" class="user">
                <img src="{{user.url}}" alt="user Image">
                <p>{{user.name}}</p>
            </li>
        </ul>
    </div>
</div>
<!-- Included page specific js file contains controller and filters-->
<script src="js/search.js"></script>
</body>
</html>