/*Foundation overrides and custom css goes here*/

.searchApp {

  h3, p {
    color: #0044DD;
    text-align: center;
  }

  input {
    border-radius: 5px;
  }

  .user  {
    /*Provide border radius for image*/
    img {
      border-radius: 5px;
      border: 2px solid #73AD21;
    }

    p {
      margin-top: 5px;
      font-weight: bold;
    }

  }

  ul {
    margin: 10px 0px;
  }

}